<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>link</title>
    </head>
    <body>
        <h1>URL Link</h1>
        <ul>
            <li><a th:href="@{/hello}">basic url</a></li>
            <li><a th:href="@{/hello(param1=${param1},param2=${param2})}">query param</a></li>
            <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1},param2=${param2})}">path variable</a></li>
            <li><a th:href="@{/hello/{param1}(param1=${param1},param2=${param2})}">query param & path variable</a></li>
        </ul>
    </body>
</html>